.container
  = render 'commons/relationship_header_list', account: @account
  - if @users.present?
    = render partial: 'commons/relationship_list', collection: @users, as: :user
  - else
    %h2 フォロー中のユーザーがいません。
= render 'commons/footer'