- if current_page?(new_user_session_path)
  .account-page__footer
    %p または
  .account-page__footer_new_path
    %p アカウントを持っていない場合
    = link_to '登録はこちら', new_user_registration_path
- else
  .account-page__footer
    %p または
  .account-page__footer_new_path
    %p アカウントをお持ちの方は
    = link_to 'こちら', new_user_session_path