$primary-color: #00a5e7;

$base-color: #fff;
$text-base-color: #000;

$text-line-color: rgb(245, 245, 248);
$text-decoration-color: rgb(137, 133, 133);

$icon-image-border: #cd5638;

$sending-button: #f2cf01;