@import './variables';

.common-primary {
  background-color: $primary-color;
  border: none;
  width: 100%;
  text-align: center;
  color: $base-color;
  padding: 16px 0;
  font-weight: bold;
  border-radius: 10px;
}

.btn-primary {
  @extend .common-primary
}

.float_btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  background-color: $primary-color;
  color: $base-color;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  i {
    margin-top: 22px;
  }
}

.join_team {
  text-decoration: none;
  display: block;
  @extend .common-primary
}

.btn-comment {
  background-color: $base-color;
  border: 2px solid $primary-color;
  color: $primary-color;
  border-radius: 10px;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: bold;

    i {
      font-weight: bold;
    }
}