@import './variables';

// ------ 共通SCSS ------
$image_size: 70px;

.commons_counts {
  span {
    display: block;
    text-align: center;
  }
  p {
    color: $text-decoration-color;
  }
}

.user_page_switch {
  width: 100%;
  text-align: center;
}

// ------ プロフィールユーザー ------
.profilePage {
  padding: 16px 24px;

  &_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 15px;

    &_image {
      img {
        width: $image_size;
        height: $image_size;
        border-radius: 100%;
      }
    }

    // ------ ユーザーデータ ------

    &_team_count {
      @extend .commons_counts;
    }

    &_followed_count {
      @extend .commons_counts;
    }

    &_following_count {
      @extend .commons_counts;
    }

    &_info {
      font-size: 17px;
    }

    &_bio {
      margin: 15px 0;
      overflow-wrap: break-word;
      font-size: 14px;
    }

    &_actionButton {
      display: flex;
      margin-bottom: 25px;
      a {
        line-height: 1;
        font-size: 15px;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 10px;
        border: 1px solid $text-decoration-color;
      }
    }

    &_edit {
      @extend .user_page_switch;
      color: $primary-color;
    }

    &_followed { 
      @extend .user_page_switch;
      color: $base-color;
      background-color: $primary-color;
    }

    &_following {
      @extend .user_page_switch;
      color: $primary-color;
    }
  }
}