@import './variables';

$image_size: 56px;

.profilePage {
  margin-top: 20px;
  background-color: $base-color;
  border-radius: 10px;
  padding: 16px 24px;


  &_user {
    margin: 20px 0 0;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_image {
      padding: 16px;

      img {
        width: $image_size;
        height: $image_size;
        border-radius: 100%;
        border: 1px solid #000;
      }
    }

    &_name {
      display: flex;
    }
    &_birthday {
      display: flex;
    }
    &_gender {
      display: flex;
    }
    &_bio {
      overflow-wrap: break-word;
      border-bottom: 1px solid rgb(241, 245, 247);
      display: flex;
      flex-direction: column;
      p {
        margin-bottom: 16px;
      }
    }
    &_actionButton {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-weight: 700;
      a {
        text-decoration: none;
        border-radius: 9999px;
        padding: 10px 15px;
        border: 1px solid $primary-color;
        font-size: 15px;
        line-height: 1;
      }

    }

    &_edit {
      color: $primary-color;
    }

    &_followed {
      color: $base-color;
      background-color: $primary-color;
    }

    &_following {
      color: $primary-color;
    }
  }
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.input-birth-wrap>select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap>p {
  line-height: 60px;
  padding: 0 5px;
}