@import 'variables';

.commons_detail {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $text-line-color;
  padding: 10px 0;
}

.detail {
  padding: 15px;
  line-height: 1.5em;


  &_update {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $text-line-color;
    border-bottom: 2px solid $text-line-color;
    padding: 10px 0;
  }

  &_category {
    @extend .commons_detail;
  }

  &_age_limit {
    @extend .commons_detail;
  }

  &_gender_limit {
    @extend .commons_detail;
  }

  &_period_limit {
    @extend .commons_detail;
  }

}
