@import './variables';

.subtitle {
  font-family: 'Noto Sans JP', sans-serif;

  h2 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
    border-bottom: solid 3px $text-line-color;
  }
}