@import './variables';

// ------ チーム全体 ------
.team {
  margin: 18px 0;
  height: auto;
  background-color: $base-color;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  // ------ チームの上の部分 ------
  &_top {
    position: relative;
    height: 130px;
  }
  
  &_setting {
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    margin-top: 10px;
    margin-right: 10px;

    &_change {
      font-weight: normal;
      right: 0;
      position: absolute;
      background-color: $base-color;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
  
      a {
        padding: 8px 16px;
        text-decoration: none;
        display: block;
        color: #000;
      }
    }
  }

  &_star {
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    margin-top: 10px;
    margin-right: 10px;
  }

  // ------ チームの上の部分の背景は写真 ------
  &_image {
    img {
      width: 100%;
      height: 130px;
      object-fit: cover;
      object-position: 0;
      border-radius: 10px 10px 0 0;
    }

    &:before {
      content: ' ';
      background-color: rgba(0,0,0,.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 10px 10px 0 0;
    }
  }

  &_name {
    position: absolute;
    color: $base-color;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-weight: bold;
    font-size: 1.5em;
    font-family :Quicksand, sans-serif;
    margin: 0;
  }

  // ------ チームの詳細ページに適応 ------
  &_center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;

    &_icon {
      padding: 25px;
      position: absolute;

      img {
        width: 56px;
        height: 56px;
        border-radius: 100%;
        margin: 0 10px 0 0;
        border: 1px solid $icon-image-border;
        padding: 5px;
      }
    }
  }

  // ------ チームの下の部分 ------
  &_under {
    color: $text-base-color;
    height: 130px;
    padding: 5px 15px;
    font-size: 20px;
    line-height: 1.5em;
    overflow-wrap: break-word;
  }

  a {
    text-decoration: none;
  }
}

// ------ チーム詳細ページのいいねカウント ------
.star_counter {
  margin-top: 15px;
  span {
    color: $primary-color;
    font-weight: bold;
  }
}

// ------ イメージのプレビュー表示 ------
.image_container {
  margin-bottom: 28px;
  position: relative;
}
.image_list {
  position: absolute;
  top: 0px;
  right: 25px;
  img {
    width: 100px;
    height: 100px;
  }
}